.admin_table, th, td {
  border: 1px solid black;
}

.admin_table {
  border-collapse: collapse;
  text-align: center;
  width: 100%
}

.admin_table, th, td {
  border: 1px solid black;
}

.admin_table th {
  height: 50px;
}

.recipe_image{
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.video{
  object-fit: cover;
  /*width: 100px;
  height: 100px;*/
  text-align: center;
}

.recipe-page-div{
  padding: 10px;
  /*background-color: orange;
  text-align: center;*/
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.recipe-name {
  font-weight: bold;
}

.serving-size {
  font-size: 18px;
  font-style: italic;
}

.nutrition li{
  display: inline;
  list-style: none;
  font-size: 16px;

}

.instructions{
  background-color: rgb(182, 181, 181);
  padding: 10px;
  text-align: left;
}

.recipe-attributes{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-size: 20px;
}

.cook-time {
  font-size: 20px;
}

button:before{
  content:'';
  height:100%;
  display:inline-block;
  vertical-align:middle;
}

button{
  background:#1AAB8A;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  margin-top: 10px;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  border-radius: 55%;
}

button:hover{
  background:#fff;
  color:#1AAB8A;
}

button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}

button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
